# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.tags*

# Folder
DP_Product/
.vscode/

*.ii
*.i
*.s
S_default.dat
S_sie.resource
S_source.hh
S_job_execution
S_run_summary


sim_exe/*/build/
sim_exe/*/makefile
sim_exe/*/trick/
sim_exe/*/result.csv
sim_exe/*/test_result

sim_exe/*/RUN_*/_init_log.csv
sim_exe/*/RUN_*/jitlib/
sim_exe/*/RUN_*/log_frame.header
sim_exe/*/RUN_*/log_frame.trk
sim_exe/*/RUN_*/log_frame_trickjobs.header
sim_exe/*/RUN_*/log_frame_trickjobs.trk
sim_exe/*/RUN_*/log_frame_userjobs_main.header
sim_exe/*/RUN_*/log_frame_userjobs_main.trk
sim_exe/*/RUN_*/log_ngps.csv
sim_exe/*/RUN_*/log_ngps.header
sim_exe/*/RUN_*/log_ngps_slave.csv
sim_exe/*/RUN_*/log_ngps_slave.header
sim_exe/*/RUN_*/log_timeline.csv
sim_exe/*/RUN_*/log_timeline_init.csv
sim_exe/*/RUN_*/log_rocket_csv.csv
sim_exe/*/RUN_*/log_rocket_csv.header
sim_exe/*/RUN_*/send_hs
sim_exe/*/RUN_*/varserver_log
